{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Four Seasons</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
</head>

<body>
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand ms-2" href="{% url 'index' %}">Four Seasons</a>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Four Seasons</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'rooms' %}">Номера и цены</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'booking' %}">Бронирование</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contacts' %}">Контакты и отзывы</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="d-flex gap-1">
                <div>
                    <a href="{% url 'login' %}">Log in</a>
                    <a href="{% url 'signup' %}" class="ms-4">Register</a>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}

    {% endblock %}

    <footer class="bg-dark text-light py-4 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <h5>Контакты</h5>
                    <p>Адрес: ул. Охотный ряд, 2, Москва</p>
                    <p>Телефон: +7 (495) 123-45-67</p>
                    <p>Email: info@fourseasons.ru</p>
                </div>

                <div class="col-md-4 mb-3">
                    <h5>Полезные ссылки</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-light">О нас</a></li>
                        <li><a href="#" class="text-light">Наши услуги</a></li>
                        <li><a href="{% url 'contacts' %}" class="text-light">Контакты и отзывы</a></li>
                    </ul>
                </div>

                <div class="col-md-4 mb-3">
                    <h5>Мы в соцсетях</h5>
                    <a href="https://vk.com/id321826905" class="text-light me-3"><i class="bi bi-facebook"></i> VK</a>
                    <a href="https://www.instagram.com/try_hardddd" class="text-light me-3"><i class="bi bi-instagram"></i> Instagram</a>
                    <a href="https://x.com/Flopped_again" class="text-light"><i class="bi bi-twitter"></i> Twitter</a>
                </div>
            </div>
            <div class="text-center mt-3">
                <p>&copy; 2024 Four Seasons. Все права защищены.</p>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
