.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px;
    background-color: #f9f9f9;
}

.container {
    margin-top: 100px;
    text-align: center;
}