{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center">Бронирование</h1>
    <p class="text-muted text-center">Забронируйте ваш комфортный отдых в нашем отеле!</p>

    <div class="row mt-5">
        <div class="col-md-6">
            <h3>Как забронировать?</h3>
            <p>
                Мы сделали процесс бронирования максимально простым. Заполните форму, выберите даты и номер, и наши менеджеры свяжутся с вами для подтверждения.
            </p>
            <h4>Преимущества бронирования у нас:</h4>
            <ul>
                <li>Эксклюзивные скидки для онлайн-бронирований</li>
                <li>Бесплатная отмена за 24 часа</li>
                <li>Поддержка 24/7</li>
            </ul>
        </div>

        <div class="col-md-6">
            <h3>Форма бронирования</h3>
                {% include 'components/booking-form.html' %}
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
        {% for room in rooms %}
            {% include 'components/room_card.html' %}
        {% endfor %}
        </div>
    </div>

    {% include 'components/pagination.html' %}

    {% include 'components/faq.html' %}

</div>
{% endblock %}
