{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<div class="container my-5">
    {% if room_type == "Люкс" %}
        {% include 'components/lux.html' %}
    {% elif room_type == "Эконом" %}
        {% include 'components/econom.html' %}
    {% else %}
        {% include 'components/presidential.html' %}
    {% endif %}
    <h3>Форма бронирования</h3>
    {% include 'components/booking-form.html'%}
    <div class="container mt-4">
        <div class="row">
        {% for room in rooms %}
            {% include 'components/room_card.html' %}
        {% endfor %}
        </div>
    
        {% include 'components/pagination.html' %}
        
        {% include 'components/faq.html' %}
    
    </div>
</div>

{% endblock %}
