{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

    <div class="register-container">
        <div class="form-container-reg">
            <h3 class="text-center mb-4">Регистрация</h3>
            <form>
                <div class="mb-3">
                    <label for="inputLogin" class="form-label">Логин</label>
                    <input type="text" class="form-control" id="inputLogin" placeholder="Введите логин" required maxlength="20">
                </div>
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Почта</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Введите почту" required maxlength="30">
                </div>
                <div class="mb-3">
                    <label for="inputPhone" class="form-label">Номер телефона</label>
                    <input type="tel" class="form-control" id="inputPhone" placeholder="Введите номер телефона" required maxlength="12">
                </div>
                <div class="mb-3">
                    <label for="inputName" class="form-label">Имя</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Введите имя" required maxlength="20">
                </div>
                <div class="mb-3">
                    <label for="inputSurName" class="form-label">Фамилия</label>
                    <input type="text" class="form-control" id="inputSurName" placeholder="Введите фамилию" required maxlength="20">
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Введите пароль" required maxlength="20">
                </div>
                <div class="mb-3">
                    <label for="inputRepeatPassword" class="form-label">Повторите пароль</label>
                    <input type="password" class="form-control" id="inputRepeatPassword" placeholder="Повторите пароль" required maxlength="20">
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-3">Зарегистрироваться</button>
            </form>
        </div>
    </div>
{% endblock %}
