{% load static %}

<form method="get">
    <div class="mb-3">
        <label for="roomType" class="form-label">Тип номера</label>
        <select class="form-select" id="roomType" name="room_type" required {% if room_type %}disabled{% endif %}>
            <option name='room_type' value="Все типы" selected >Все типы</option>
            <option name='room_type' value="Эконом" {% if room_type == 'econom' %}selected{% endif %}>Эконом</option>
            <option name='room_type' value="Люкс" {% if room_type == 'lux' %}selected{% endif %}>Люкс</option>
            <option name='room_type' value="Президентский" {% if room_type == 'presidential' %}selected{% endif %}>Президентский</option>
        </select>
        {% if room_type %}
        <input type="hidden" name="room_type" value="{{ room_type }}">
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="luxCheckIn" class="form-label">Дата заезда</label>
        <input name='check_in' type="date" class="form-control" id="luxCheckIn" value="{{ check_rooms_form.data.check_in }}" required>
    </div>
    <div class="mb-3">
        <label for="luxCheckOut" class="form-label">Дата выезда</label>
        <input name='check_out' type="date" class="form-control" id="luxCheckOut" value="{{ check_rooms_form.data.check_out }}" required>
    </div>

    <button type="submit" class="btn btn-primary">Проверить наличие</button>

    <div id="availableRooms" class="mt-3"></div>
</form>