
{% load static %}

    <h1>Президентский номер</h1>

    <div class="row">
        <div class="col-md-6">
            <img src="{% static '/images/presidential-room.jpg' %}" class="img-fluid" alt="Президентский номер">
        </div>
        <div class="col-md-6">
            <h3>Описание номера</h3>
            <p>Роскошный президентский номер с VIP-удобствами, просторной ванной и панорамным видом на город. Этот номер идеален для самых взыскательных гостей.</p>
            <ul>
                <li>Площадь: 50 м²</li>
                <li>Кинг-сайз кровать, 2 телевизора</li>
                <li>Сауна, джакузи, камин</li>
                <li>Мини-бар, кофемашина</li>
                <li>Бесплатный доступ в интернет, кондиционер, безопасность класса люкс</li>
                <li>Санузел с ванной и отдельной душевой</li>
            </ul>
            <p><strong>Цена: 12000 ₽/ночь</strong></p>
        </div>
    </div>

