
{% load static %}

<div class="col-md-4 mb-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Номер: {{ room.room_number }}</h5>
            <p class="card-text">Тип: {{ room.type_name }}</p>
            <p class="card-text">Цена: {{ room.total_price }}</p>
            <a href="{% url 'book_room' room_id=room.id %}?check_in={{ check_in }}&check_out={{ check_out }}">
                <button class="btn btn-success book-room">
                Забронировать
                </button>
            </a>
        </div>
    </div>
</div>

